$contentBackground:#fff;
$header-bcgrd-url:url("../img/m-h-day.jpg");
$bttn-bcgrd-color: #699900;
$highlight: #14a0c7;
$header-color:#2c2f3c;
$card-bcgrd-color:#21232e;
$gradient-first-color: #649411;
$gradient-second-color: #2d5bd5;
$banner-header-color:#2c2f38;
$footer-bcgrd-color:#21232e;