$contentBackground:#21232e;
$header-bcgrd-url:url("../img/m-h-night.jpg");
$bttn-bcgrd-color: #e3ac00;
$highlight: #ff4e33;
$header-color:#ffffff;
$card-bcgrd-color:#3b3f50;
$gradient-first-color: #dda206;
$gradient-second-color: #932e51;
$banner-header-color:#ffffff;
$footer-bcgrd-color:#3b3f50;