.tm-nav-item-link:hover {
    background-color: lightskyblue;
    color: #fff;
}

#home .tm-banner {
    background: linear-gradient(45deg, lightskyblue, burlywood);
}

#home .tm-banner-inner {
    background-color: white;
}

.tm-banner-text {
    text-shadow: 5px 5px 3px #333;
    animation: slide 3s 1 linear forwards;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(200px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.flex-2-col {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tm-section-title {
    text-align: center;
}

.tm-section-description {
    text-align: left;
    text-indent: 20px;
}

.box:hover {
    background-color: lightgrey;
    color: lightskyblue;
    font-style: italic;
}

.heading h2 {
    color: lightskyblue;
    text-align: center;
}

.heading li {
    list-style-type: lower-alpha;
}

.heading .text:after {
    content: 'New';
    color: red;
    font-weight: bold;
    font-size: 10px;
    vertical-align: top;
}

.heading li a:hover::before {
    content: '>';
}

.blocks .tm-team-description-container > .tm-section-title {
    text-align: left;
}

.blocks .padding-medium .tm-section-description:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}

.blocks .box {
    padding: 10px;
}

.blocks .box p {
    font-style: italic;
}

.blocks .box p:first-letter {
    font-weight: bold;
}

.blocks .box:nth-child(2n+1) {
    background: lightskyblue;
    color: white;
}

.carousel-item .tm-section-description {
    text-indent: 25px;
    line-height: 30px;
}

.tm-content-box #contact .tm-section-title {
    text-align: left;
}

.form-control:focus {
    background-color: lightskyblue;
}

input[name^='contact_'] {
    border: transparent;
    border-bottom: 1px solid lightskyblue;
}

#contact_message {
    border: 1px solid lightskyblue;
    background: url("../img/email-icon.png") bottom 7px right 7px no-repeat;
    background-size: 30px;
}

#contact_message:focus {
    box-shadow: none;
}

.submit-btn {
    background-color: white;
    border: 1px solid lightskyblue;
    color: lightskyblue;
    display: block;
    margin-left: auto;
}

.tm-sidebar, .tm-main-content > section, #home {
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}

.tm-main-content > section {
    position: relative;
}

.tm-main-content > section:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: lightskyblue transparent transparent transparent;
}

@media print {
    .tm-sidebar, .tm-team-img, #about, .carousel-indicators, .blocks .tm-content-box,
    section.tm-content-box:last-of-type, .gallery-container, .img-contact-us,
    #contact, .tm-main-content > section:before {
        display: none;
    }

    body, .tm-main-content {
        padding-top: 0;
    }

    .container, .tm-team-description-container {
        max-width: 100%;
    }

    .tm-banner, .padding-medium {
        padding: 0;
    }

    .flex-2-col {
        justify-content: center;
    }

    .tm-team-description-container > p,
    .blocks .tm-team-description-container > .tm-section-title,
    .carousel-item .tm-section-description,
    .blocks .tm-team-description-container p {
        text-align: center;
    }

    .heading li {
        list-style-type: none;
        text-align: right;
    }

    .tm-content-box ol {
        padding: 0;
        margin: 0 auto;
        max-width: 300px;
    }

    .tm-content-box ol li:nth-child(2n) {
        text-align: left;
    }

    .carousel {
        padding: 10px 0 0;
    }

    .tm-content-box ol .text:after {
        content: '';
    }

    p.tm-section-description {
        text-indent: 0;
        line-height: 24px;
    }

    @keyframes slide {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 0);
        }
    }
}